<h1> About </h1>
<p>
	<%= link_to "Loopr", "http://loopr.co" %>
	is a project to improve candidate experience and make feedback loops more efficient.  It's also the first Ruby on Rails project of 
	<%= link_to "Josh Anderson", "http://about.me/jawshndrsn" %>.
</p>

